USE_LXD_BRIDGE="true"
LXD_BRIDGE="{{ lxd_bridge }}"
UPDATE_PROFILE="true"
LXD_CONFILE=""
LXD_DOMAIN="{{ lxd_domain }}"
LXD_IPV4_ADDR="{{ lxd_ipv4_addr }}"
LXD_IPV4_NETMASK="{{ lxd_ipv4_netmask }}"
LXD_IPV4_NETWORK="{{ lxd_ipv4_network }}"
LXD_IPV4_DHCP_RANGE="{{ lxd_ipv4_dhcp_range }}"
LXD_IPV4_DHCP_MAX="{{ lxd_ipv4_dhcp_max }}"
LXD_IPV4_NAT="{{ lxd_ipv4_nat }}"
LXD_IPV6_ADDR="{{ lxd_ipv6_addr }}"
LXD_IPV6_MASK="{{ lxd_ipv6_mask }}"
LXD_IPV6_NETWORK="{{ lxd_ipv6_network }}"
LXD_IPV6_NAT="{{ lxd_ipv6_nat }}"
LXD_IPV6_PROXY="{{ lxd_ipv6_proxy }}"
